<h1>Stupid Coaching</h1>

<p>Q: <%= @question %></p>
<p><i> - You </i><p>
<p>

<div class="coach-answer">
  A: <%= @answer %><p>
  <i>- Your Coach </i>
</div>

<a href="<%= ask_path %>">Ask another question</a>

